{{#> template}}
<div class="mainContent">
    <div class="mainContent__header">
        <div class="mainContent__assistance">

        </div>
    </div>

    <div class="mainContent__category">
        <div class="mainContent__dishes">
            
        </div>
    </div>
</div>

{{/template}}