{{#> template}}
    <div class="headerBody">
        <div class="headerBody headerBody--menu">

        </div>
        <div class="headerBody headerBody--assistance">
            
        </div>
    </div>
{{/template}}